<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Spring Hibernate applicatioin context -->

    <!-- change Database path for your PC in this property file -->
    <context:property-placeholder location="/WEB-INF/hibernate.properties"/>

    <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.user}" />
        <property name="password" value="${jdbc.pass}" />
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan">
            <array>
                <value>com.diplomski.katedra.db</value>
            </array>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
            </value>
        </property>
    </bean>
    <tx:annotation-driven />
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="studentDao" class="com.diplomski.katedra.db.impl.StudentDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="predavacDao" class="com.diplomski.katedra.db.impl.PredavacDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="predmetDao" class="com.diplomski.katedra.db.impl.PredmetDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="programDao" class="com.diplomski.katedra.db.impl.ProgramDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="aktivnostDao" class="com.diplomski.katedra.db.impl.AktivnostDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="studentPredmetAssDao" class="com.diplomski.katedra.db.impl.StudentPredmetAssDaoImpl" p:sessionFactory-ref="sessionFactory"/>
    <bean id="predmetEncoder" class="com.diplomski.katedra.encoders.PredmetEncoder"/>
    <bean id="activityEncoder" class="com.diplomski.katedra.encoders.ActivityEncoder"/>
</beans>